<div class="footer">
  <div class="logo"><a href="https://github.com/doowb"><img src="img/github.png" width="16px"> @doowb </a></div>
  <div class="logo"><a href="https://twitter.com/doowb"><img src="img/twitter.svg" width="16px"> @doowb </a></div>
</div>
