---
layout: markdown
---

# Alternatives

<ul>
  <li>
    <span>Task Runners: </span><!-- .element: class="fragment" data-fragment-index="1" -->
    <span>Assemble</span><!-- .element: class="fragment" data-fragment-index="2" -->
    <span>/ Grunt</span><!-- .element: class="fragment" data-fragment-index="3" -->
    <span>/ Gulp</span><!-- .element: class="fragment" data-fragment-index="4" -->
  </li><!-- .element: class="fragment" data-fragment-index="1" -->
  <li>
    <span>Data Hosting: </span><!-- .element: class="fragment" data-fragment-index="5" -->
    <span>Firebase</span><!-- .element: class="fragment" data-fragment-index="6" -->
    <span>/ AWS RDS</span><!-- .element: class="fragment" data-fragment-index="7" -->
    <span>/ Compose</span><!-- .element: class="fragment" data-fragment-index="8" -->
  </li><!-- .element: class="fragment" data-fragment-index="5" -->
  <li>
    <span>Site Hosting: </span><!-- .element: class="fragment" data-fragment-index="9" -->
    <span>Github Pages</span><!-- .element: class="fragment" data-fragment-index="10" -->
    <span>/ Firebase Hosting</span><!-- .element: class="fragment" data-fragment-index="11" -->
    <span>/ AWS S3</span><!-- .element: class="fragment" data-fragment-index="12" -->
  </li><!-- .element: class="fragment" data-fragment-index="9" -->
  <li>
    <span>Function (FaaS): </span><!-- .element: class="fragment" data-fragment-index="13" -->
    <span>AWS Lambda</span><!-- .element: class="fragment" data-fragment-index="14" -->
    <span>/ Auth0 Webtasks</span><!-- .element: class="fragment" data-fragment-index="15" -->
    <span>/ Google Cloud Functions</span><!-- .element: class="fragment" data-fragment-index="16" -->
  </li><!-- .element: class="fragment" data-fragment-index="13" -->
  <li>
    <span>Roll Your Own: </span><!-- .element: class="fragment" data-fragment-index="17" -->
    <span>AWS</span><!-- .element: class="fragment" data-fragment-index="18" -->
    <span>/ Digital Ocean</span><!-- .element: class="fragment" data-fragment-index="19" -->
    <span>/ Google Compute Engine</span><!-- .element: class="fragment" data-fragment-index="20" -->
    <span>/ Azure</span><!-- .element: class="fragment" data-fragment-index="21" -->
    <span>/ Docker</span><!-- .element: class="fragment" data-fragment-index="22" -->
  </li><!-- .element: class="fragment" data-fragment-index="17" -->
</ul>
