---
layout: markdown
---

## Connect to APIs

Add dynamic data and content from third-party APIs.  <!-- .element: class="fragment" data-fragment-index="1" -->

<ul>
<li>
  <span>Data: </span><!-- .element: class="fragment" data-fragment-index="2" -->
  <span>Github</span><!-- .element: class="fragment" data-fragment-index="3" -->
  <span>/ Firebase</span><!-- .element: class="fragment" data-fragment-index="4" -->
</li><!-- .element: class="fragment" data-fragment-index="2" -->
<li>
  <span>Content: </span><!-- .element: class="fragment" data-fragment-index="5" -->
  <span>Contentful</span><!-- .element: class="fragment" data-fragment-index="6" -->
  <span>/ WordPress</span><!-- .element: class="fragment" data-fragment-index="7" -->
</li><!-- .element: class="fragment" data-fragment-index="5" -->
<li>
  <span>Authentication: </span><!-- .element: class="fragment" data-fragment-index="8" -->
  <span>Github</span><!-- .element: class="fragment" data-fragment-index="9" -->
  <span>/ Google</span><!-- .element: class="fragment" data-fragment-index="10" -->
  <span>/ Twitter</span><!-- .element: class="fragment" data-fragment-index="11" -->
  <span>/ Facebook</span><!-- .element: class="fragment" data-fragment-index="12" -->
  <span>/ Firebase</span><!-- .element: class="fragment" data-fragment-index="13" -->
  <span>/ Auth0</span><!-- .element: class="fragment" data-fragment-index="14" -->
</li><!-- .element: class="fragment" data-fragment-index="8" -->
</ul>
