---
layout: markdown
---

## Creating Structure

Designers and developers may use whatever they choose.  <!-- .element: class="fragment" data-fragment-index="1" -->

<ul>
  <li>
    <span>Structure: </span><!-- .element: class="fragment" data-fragment-index="2" -->
    <span>HTML</span><!-- .element: class="fragment" data-fragment-index="3" -->
    <span>/ markdown</span><!-- .element: class="fragment" data-fragment-index="4" -->
  </li><!-- .element: class="fragment" data-fragment-index="2" -->
  <li>
    <span>Styles: </span><!-- .element: class="fragment" data-fragment-index="5" -->
    <span>CSS</span><!-- .element: class="fragment" data-fragment-index="6" -->
    <span>/ LESS</span><!-- .element: class="fragment" data-fragment-index="7" -->
    <span>/ SASS</span><!-- .element: class="fragment" data-fragment-index="8" -->
  </li><!-- .element: class="fragment" data-fragment-index="5" -->
  <li>
    <span>Frameworks: </span><!-- .element: class="fragment" data-fragment-index="9" -->
    <span>Angular</span><!-- .element: class="fragment" data-fragment-index="10" -->
    <span>/ React</span><!-- .element: class="fragment" data-fragment-index="11" -->
    <span>/ Ember</span><!-- .element: class="fragment" data-fragment-index="12" -->
  </li><!-- .element: class="fragment" data-fragment-index="9" -->
  <li>
    <span>Libraries: </span><!-- .element: class="fragment" data-fragment-index="13" -->
    <span>Bootstrap</span><!-- .element: class="fragment" data-fragment-index="14" -->
    <span>/ Foundation</span><!-- .element: class="fragment" data-fragment-index="15" -->
    <span>/ jQuery</span><!-- .element: class="fragment" data-fragment-index="16" -->
  </li><!-- .element: class="fragment" data-fragment-index="13" -->
  <li>
    <span>Task Runners: </span><!-- .element: class="fragment" data-fragment-index="17" -->
    <span>Grunt</span><!-- .element: class="fragment" data-fragment-index="18" -->
    <span>/ Gulp</span><!-- .element: class="fragment" data-fragment-index="19" -->
  </li><!-- .element: class="fragment" data-fragment-index="17" -->
  <li>
    <span>Assemble ;)</span>
  </li><!-- .element: class="fragment" data-fragment-index="20" -->
</ul>
