---
layout: markdown
---
# Open source

<ul>
<li>~400 public repositories on [Github](https://github.com/doowb)</li><!-- .element: class="fragment" data-fragment-index="1" -->
<li>~700 published [NPM modules](https://npmjs.org/~doowb) with [> 220 million monthly downloads](http://www.npm-stats.com/doowb)</li><!-- .element: class="fragment" data-fragment-index="2" -->
<li> <a href="https://github.com/assemble/assemble">
    <img height="32" width="32" src="img/assemble-logo.png" style="border: none; vertical-align: middle;">
    <span style="vertical-align: middle;">assemble</span>
  </a></li><!-- .element: class="fragment" data-fragment-index="3" -->
<li> <a href="https://github.com/generate/generate">
    <img height="32" width="32" src="img/generate-logo.png" style="border: none; vertical-align: middle;">
    <span style="vertical-align: middle;">generate</span>
  </a></li><!-- .element: class="fragment" data-fragment-index="4" -->
<li> <a href="https://github.com/update/update">
    <img height="32" width="32" src="img/update-logo.png" style="border: none; vertical-align: middle;">
    <span style="vertical-align: middle;">update</span>
  </a></li><!-- .element: class="fragment" data-fragment-index="5" -->
<li> <a href="https://github.com/verbose/verb">
    <img height="32" width="32" src="img/verb-logo.png" style="border: none; vertical-align: middle;">
    <span style="vertical-align: middle;">verb</span>
  </a></li><!-- .element: class="fragment" data-fragment-index="6" -->
<li> <a href="https://github.com/node-base/base">
    <img height="32" width="32" src="img/base-logo.png" style="border: none; vertical-align: middle;">
    <span style="vertical-align: middle;">base</span>
  </a></li><!-- .element: class="fragment" data-fragment-index="7" -->
</ul>
