---
layout: markdown
---
# Around the internet
<ul class="intro">
  <li>
    <a href="https://github.com/doowb">
      <img src="img/github.png" width="64px">
      <span>@doowb</span>
    </a>
  </li><!-- .element: class="fragment" data-fragment-index="1" -->
  <li>
    <a href="https://twitter.com/doowb">
      <img src="img/twitter.svg" width="64px">
      <span>@doowb</span>
    </a>
  </li><!-- .element: class="fragment" data-fragment-index="2" -->
</ul>
