<div>
  <h2>What we won't be talking about today</h2>
  <div style="position: absolute;">
    <img src="img/scopes.jpg" height="25%">
    <p>Scopes</p>
  </div>
  <div style="position: absolute; left: 34%;">
    <img src="img/data-binding.jpg" height="25%">
    <p>Data Binding</p>
  </div>
  <div style="position: absolute; left: 64%;">
    <img src="img/flux.jpg" height="25%">
    <p>Flux</p>
  </div>
</div>
